/* src/GamePage.css */

.GamePage {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}
