.sudoku-board {

  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 1px;
  background-color: #eee;
  border: 2px solid #333; /* Add a border around the entire board */
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #ccc;

}

input.incorrect {
  color: red; /* Set the text color to red for incorrect input */
  font-weight: bold; /* Optionally, make the text bold */
  border: 2px solid red; /* Optionally, add a red border for emphasis */
}


.sudoku-buttons {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin-right: 50px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
