.sudoku-board {
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  gap: 1px;
  background-color: #eee;
  border: 2px solid #333;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 100%; /* Adjusted for full width on smaller screens */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Adjusted font size for better fit */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include borders in width and height calculations */
}

input.incorrect {
  color: red;
  font-weight: bold;
  border: 2px solid red;
}

.sudoku-buttons {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin-right: 10px; /* Adjusted margin for better spacing */
  font-size: 12px; /* Adjusted font size for better fit */
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sudoku-cell {
    height: 50px; /* Adjusted height for smaller screens */
    font-size: 8px; /* Adjusted font size for smaller screens */
  }

  button {
    margin-right: 5px; /* Adjusted margin for better spacing on smaller screens */
    font-size: 10px; /* Adjusted font size for smaller screens */
  }
}
